<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="<%= image %>">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= title %></span>
    <div class="row no-margin-bottom">
      <div class="col l6">
        <p class="no-margin-bottom green-text"><%= serving_price %></p>
      </div>
      <div class="col l6">
        <p class="no-margin-bottom green-text"><%= full_price %></p>
      </div>
    </div>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= title %><i class="material-icons right">close</i></span>
    <p>Yummy yummy banana bread.</p>
  </div>
</div>