<div class="container">
  <div class="section">
    <div class="section-title">
      <h3 class="center">Buy Food</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12 l4">
      <%= render "food/food_item",
                 image: 'http://a4.files.rachaelray.com/image/upload/c_fit,cs_srgb,dpr_2.0,q_40,w_940/MTI1NjU2MTUyMjcxNzg3Mjgy.jpg',
                 title: 'Banana Bread',
                 serving_price: '$1/slice',
                 full_price: '$10/loaf' %>
    </div>

    <div class="col s12 l4">
      <%= render "food/food_item",
                 image: 'http://dinnerthendessert.com/wp-content/uploads/2016/03/Crispy-Roasted-Cauliflower.jpg',
                 title: 'Roasted Cauliflower',
                 serving_price: '$2/serving',
                 full_price: '$5/tray' %>
    </div>

    <div class="col s12 l4">
      <%= render "food/food_item",
                 image: 'https://farm8.staticflickr.com/7461/15536470169_c5ab760931_z.jpg',
                 title: 'Lemon Tart',
                 serving_price: '$3/slice',
                 full_price: '$15/pie' %>
    </div>
  </div>

  <div class="row">
    <div class="col s12 l4">
      <%= render "food/food_item",
                 image: 'http://flavorite.net/wp-content/uploads/2015/07/eggboats.jpg',
                 title: 'Sausage Egg Baguette',
                 serving_price: '$4/piece',
                 full_price: '$12/loaf' %>
    </div>

    <div class="col s12 l4">
      <%= render "food/food_item",
                 image: 'http://www.liveeatlearn.com/wp-content/uploads/2015/10/DSC_0530crop.jpg',
                 title: 'Chickpea Gyros',
                 serving_price: '$3/gyro',
                 full_price: '$12/four' %>
    </div>

    <div class="col s12 l4">
      <%= render "food/food_item",
                 image: 'http://momsbestnetwork.com/wp-content/uploads/2012/08/7f708a9aa270242824f82c65fae9ff58.jpg',
                 title: 'Cookie Butter Cookies',
                 serving_price: '50¢/cookie',
                 full_price: '$6/dozen' %>
    </div>
  </div>
</div>

