<table class="centered responsive-table">
  <thead>
  <tr>
    <th>HTML</th>
    <th>CSS</th>
    <th>Javascript</th>
    <th>Ruby on Rails</th>
    <th>C++</th>
    <th>Python</th>
    <th>Java</th>
    <th>C</th>
    <th>Angular</th>
    <th>Haskell</th>
    <th>German</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= Emoji.find_by_alias("de").raw %></td>
  </tr>
  <tr>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td></td>
    <td><%= Emoji.find_by_alias("de").raw %></td>
  </tr>
  <tr>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><%= Emoji.find_by_alias("de").raw %></td>
  </tr>
  <tr>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><%= Emoji.find_by_alias("de").raw %></td>
  </tr>
  <tr>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><i class="material-icons">star</i></td>
    <td><%= Emoji.find_by_alias("de").raw %></td>
  </tr>
  </tbody>
</table>