<script>
  $(document).ready(function(){
    $('.parallax').parallax();
    $('.carousel').carousel();



    var options = [
      {selector: '#first-title', offset: 300, callback: function() {
        Materialize.showStaggeredList("#first-title");
      } },
      {selector: '#picture-of-me', offset: 300, callback: function() {
        Materialize.fadeInImage('#picture-of-me');
      }},
      {selector: '#description', offset: 300, callback: function() {
        Materialize.showStaggeredList("#description");
      } },
    ];
    Materialize.scrollFire(options);

    $("#js-rotating").Morphext({
      // The [in] animation type. Refer to Animate.css for a list of available animations.
      animation: "flipInX",
      // An array of phrases to rotate are created based on this separator. Change it if you wish to separate the phrases differently (e.g. So Simple | Very Doge | Much Wow | Such Cool).
      separator: ",",
      // The delay between the changing of each phrase in milliseconds.
      speed: 2000,
      complete: function () {
        // Called after the entrance animation is executed.
      }
    });

  });


</script>
<div class="parallax-container valign-wrapper black-tint">
  <div class="container">
    <div class="row center">
      <h3 class="header col s12 white-text center light">My name is <span class="yellow-text">Trevor Frese.</span></h3>
      <br>
      <h3 class="header col s12 white-text center light">I like to
        <b><span id="js-rotating" >build, learn, cook, design, invent, make, improve</span></b>
        things.</h3>
      <!--<p class="white-text">I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator</p>-->

    </div>
  </div>
  <div class="parallax">
    <%= image_tag("background.jpg")%>
  </div>
</div>

<div class="container padding-bottom-20">
  <!--Introduction Section-->
  <div id="first-title">
    <ul class="collection" style="border: 0px;">
      <li class="collection-header opacity-zero">
        <h3 class="center">I'm a software engineer.</h3>
      </li>
    </ul>
  </div>

  <div id="picture-of-me" class="row valign-wrapper opacity-zero">
    <div class="col center-block">
      <%= image_tag("trevor.jpg", class:'circle', width: 250)%>
    </div>
  </div>

  <div id="description">
    <ul class="collection" style="border: 0px;">
      <li class="collection-header opacity-zero">
        <h4 class="center">I'm interested in startups and building projects from the ground up.</h4>
      </li>
    </ul>
  </div>

</div>

<div class="divider"></div>

<div class="container padding-bottom-20 hide-on-small-and-down">

  <div>
    <h4 class="center">Here are the languages I speak:</h4>
  </div>

  <%= render("welcome/languages_table") %>
</div>

<div class="section red">
  <div class="container padding-bottom-20">
    <div class="section-title">
      <h3 class="center white-text">
        Work
      </h3>
    </div>
    <div class="section-bar">

    </div>
    <h5 class="white-text center">
      I'm currently working as a software engineer at <%= link_to("Earny", 'https://www.earny.co/', { target: '_blank'})%>.
    </h5>
    <div class="center">
      <%= link_to("See my past work", '/projects', class:'waves-effect waves-light yellow darken-3 btn-large')%>
    </div>
  </div>
</div>

<div class="container padding-bottom-20">
  <h3 class="center">Get in Touch</h3>
  <h5 class="center">
    Questions? Please feel free to <%= link_to("get in touch with me.", welcome_contact_path)%>
  </h5>
</div>