<script>
  $(document).ready(function() {

    if($(window).width() > 900){
      $('#navbar').pushpin({ top: 500 });
    }

    $('.button-collapse').sideNav({
          menuWidth: 240, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
    );


  });
</script>
<nav id="navbar">
  <div class="nav-wrapper red">
    <!--Left hand side-->
    <ul class="left hide-on-med-and-down">
      <li>
        <%= link_to("HOME", root_path) %>
      </li>
      <li>
        <%= link_to("WORK", '/projects') %>
      </li>
      <li>
        <%= link_to("FOOD", '/food') %>
      </li>
    </ul>

    <%= link_to("TREVOR FRESE", root_path, class: "brand-logo center padding-left-ten") %>

    <!--Right hand side-->
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to("BLOG", '/blog') %>
      </li>
      <li>
        <%= link_to("ABOUT", '/about') %>
      </li>
      <li>
        <%= link_to("CONTACT", '/contact') %>
      </li>
    </ul>

    <ul id="slide-out" class="side-nav orange">
      <li>
        <%= link_to("HOME", root_path) %>
      </li>
      <li>
        <%= link_to("WORK", '/projects') %>
      </li>
      <li>
        <%= link_to("FOOD", '/food') %>
      </li>
      <li>
        <%= link_to("BLOG", '/posts') %>
      </li>
      <li>
        <%= link_to("ABOUT", '/about') %>
      </li>
      <li>
        <%= link_to("CONTACT", '/contact') %>
      </li>
    </ul>

    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


</nav>
