<nav>
  <div class="nav-wrapper red">
    <!--Left hand side-->
    <ul class="left hide-on-med-and-down">
      <li>
        <%= link_to("HOME", root_path) %>
      </li>
      <li>
        <%= link_to("WORK", '/projects') %>
      </li>
      <li>
        <%= link_to("FOOD", '/food') %>
      </li>
    </ul>

    <%= link_to("TREVOR FRESE", root_path, class: "brand-logo center padding-left-ten") %>

    <!--Right hand side-->
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to("ABOUT", '/about') %>
      </li>
      <li>
        <%= link_to("CONTACT", '/contact') %>
      </li>
    </ul>
</nav>
